@import url("http://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

a:focus {
    color: inherit;
    text-decoration: none;
}

/*Reset end*/

body {
    font-family: 'Open Sans', sans-serif;
    background: url('../img/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container {
    margin-top: 2%;
    width: 80%;
    background-color: #f0f0f0;
    opacity: 1;
    border-radius: 80px 80px 0 0;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5%;;
}

.main-container h1 {
    padding-top: 3%;
    font-size: 1.8em;
}

.main-container h2 {
    padding-top: 1%;
    font-size: 1.4em;
    padding-bottom: 3%;
}

#main {
    margin:0 auto;
    font-size:0;
}

.main-display {
    margin-top: 100px;
}

/*Header*/

.separator {
    display: none !important;
}

nav {
    font-weight: 600;
}

@media (min-width: 768px) {
    .separator {
        display: block !important;
    }
}

.brand-link{
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1em;
}

@media (min-width: 768px) {
    .brand-link {
        font-size: 1.7em;
    }
}

.dropdown-menu-fix {
    min-width: 100px;
    font-weight: 600;
}

.dropdown-menu-fix li a {
    font-weight: 600;
}

.navbar-container {
    width: 100% !important;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .navbar-container {
        width: 80% !important;
    }
}

/* Box */

.col {
    display: inline-block;
    vertical-align: top;
}

.box, .box * {
    -webkit-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
}

.box {
    background: rgb(240,240,240);
    border: 1px solid rgb(210,210,210);
    border-right: 1px solid rgb(210,210,210);
    width: 350px;
    height: 300px;
}

.box-content {
    background: rgb(249,249,249);
    width: 100px;
    height: 100px;
    margin: 70px 0 0 130px;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
}

.box-text {
    width: 230px;
    margin: 170px 0 0 -65px;
    opacity: 0;
    position: absolute;
    font-size: 13px;
    color: rgb(30,30,30);
    text-align: center;
    line-height: 20px;
    -webkit-transition: margin 0.3s linear, opacity 0.1s linear;
    -ms-transition: margin 0.3s linear, opacity 0.1s linear;
    transition: margin 0.3s linear, opacity 0.1s linear;
}

.box-icon {
    background: url('../img/attr2.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 50px 0 0 100px;
    border-radius: 100px;
    position: absolute;
}

.box-title {
    width: 300px;
    margin: 220px 0 0 25px;
    position: absolute;
    font-size: 18px;
    color: rgb(30,30,30);
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

.box-button {
    width: 100px;
    height: 34px;
    margin: 540px 0 0 -50px;
    text-align: center;
    position: absolute;
}

.close {
    margin-right: 3px;
    opacity: 1;
}

.box.target {
    height: 600px;
}

.box.target .box-title {
    margin: 250px 0 0 25px;
}

.box.target .box-content {
    width: 348px;
    height: 598px;
    border-radius: 0;
    margin: 0;
}

.box.target .box-text {
    margin: 300px 0 0 60px;
    opacity: 1;
    -webkit-transition: opacity 0.2s 0.4s linear;
    -ms-transition: opacity 0.2s 0.4s linear;
    transition: opacity 0.2s 0.4s linear;
}

.box.target .box-icon {
    width: 200px;
    height: 150px;
    margin: 50px 0 0 75px;
    border-radius: 0;
    opacity: 1;
}

.box.target .box-button {
    width: 100px;
    height: 34px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    opacity: 1;
}

/* Box end */

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 8%;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.close-new {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    line-height: 25px;
    position: absolute;
    text-align: center;
    right: 3px;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
}

.close-new:hover {
    color: #bbb;
    text-decoration: none;
    transition: 0.5s;
}

/* Login */

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.login-wrap{
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 500px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px 70px 20px 70px;
    background-color: rgba(40, 100, 162, 0.95);
}

.login-html label {
    color: #bbb;
    cursor: pointer;
}

.login-html label:hover {
    color: #fff;
    transition: 0.5s;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .check{
    display:none;
}

.login-html .tab,
.login-form label,
.login-form button{
    text-transform:uppercase;
}

.login-html .tab{
    font-size: 1.4em;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color: #fff;
    border-color: #11a1ee;
}

.login-form{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form input,
.login-form #keep-sign{
    margin-bottom: 15px;
}

.login-form label,
.login-form input,
.login-form .button{
    width: 100%;
    color: #fff;
    display: block;
}

.login-form input,
.login-form .button{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}

.login-form input[data-type="password"]{
    -webkit-text-security: circle;
}

.login-form label{
    color: #bbb;
    font-size: 0.75em;
}

.login-form .button{
    background: #11a1ee;
}

.login-form label .icon{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,.1);
}

.login-form label .icon:before,
.login-form label .icon:after{
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form label .icon:before{
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0deg);
}

.login-form label .icon:after{
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0deg);
}

.login-form .check:checked + label{
    color: #fff;
}

.login-form .check:checked + label .icon{
    background: #11a1ee;
}

.login-form .check:checked + label .icon:before{
    transform: scale(1) rotate(45deg);
}

.login-form .check:checked + label .icon:after{
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform: rotate(0deg);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform: rotate(0deg);
}

.hr{
    height: 2px;
    margin: 40px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk{
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;
}

.foot-lnk a{
    color: #bbb;
    text-decoration: none;
}

.foot-lnk a:hover{
    text-decoration: underline;
}

.test-height {
    min-height: 2000px;
}

/*PROFILE.HTML*/

/* Profile Page */

.info-container {
    display: block;
    float: left;
    padding: 2% 2% 2% 1%;
    font-size: 0.85em;
    font-weight: 600;
    text-align: left;
    margin: 5% 8% 0 5%;
    border: 1px solid rgb(210,210,210);
    border-radius: 25px;
    background-color: #f8f8f8;
    width: 55%;
}

.form-inline {
    float: left;
}

.info-container .form-group {
    line-height: 30px;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.info-container label {
    float: left;
    line-height: 16px;
}

.info-container input {
    font-size: 0.85em;
}

.info-container button {
    font-size: 0.85em;
    font-weight: 600;
}

.menu-container {
    display: block;
    float: left;
    padding: 2% 2% 2% 2%;
    font-size: 1.05em;
    font-weight: 600;
    text-align: center;
    margin: 5% 0 0 5%;
    border: 1px solid rgb(210,210,210);
    border-radius: 25px;
    background-color: #f8f8f8;
    width: 20%;
}

.menu-container button:first-child {
    margin-top: 20%;
    width: 100%;
}

.menu-container button {
    font-size: 0.85em;
    font-weight: 600;
    padding-top: 10%;
    padding-bottom: 10%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}

.no-float {
    display: block;
}